<div class="shell">
  <nav class="j-nav">
    <span class="j-nav-brand">Jarder — Admin</span>
    <div class="j-nav-links">
      <a routerLink="/admin/courses" routerLinkActive="active-link">Cursos</a>
      <a routerLink="/admin/empleados" routerLinkActive="active-link">Empleados</a>
      <a routerLink="/admin/usuarios" routerLinkActive="active-link">Usuarios</a>
      <a routerLink="/admin/certificaciones" routerLinkActive="active-link">Certificaciones</a>
    </div>
    <div class="j-nav-user">
      <span class="j-avatar">{{ auth.user()!.displayName.slice(0,2).toUpperCase() }}</span>
      <span class="j-nav-name">{{ auth.user()!.displayName }}</span>
      <button class="btn-sm btn-ghost" (click)="logout()">Salir</button>
    </div>
  </nav>
  <div class="shell-content">
    <router-outlet />
  </div>
</div>
